@charset "utf-8";
/* CSS Document */

body{
	background-color: #350D50;
	width: 1920px;
	height: 1080px;
	}	
#center{
    width: 70%;
    height: 70%;
    background-color:#9245FF;
	float: left;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10px;
    text-align: center;
	}
#title{
	margin-top: 2%;
	}
#detail{
	margin-left: 80%;
	margin-top: 3%;
	}
#start_button{
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	height: auto;
	}
.table{
	width: 100%; 
	height: 30%; 
	background-color: #520099;
	color: aliceblue;
	}
.content{
	position: relative;
	z-index: 1; 
	width: 70%;
	height: 70%;
	background-color:#000000;
	margin-left: 15%;
	margin-right: 15%;
	color: aliceblue;
	}
.background{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	color: aliceblue;
	text-align: center;
	}
.text_box{
	position: relative;
	z-index: 3;
	top: -25%;
	left: 1%;
	right: auto;
	width: 94.5%;	
	height: 18%;
	background-color:rgba(255,255,255,0.54);
	border: double 12px #FFCB33; 
	padding: 10px 10px 10px 10px;
	color: black;
	}
.text_box_2{
	position: relative;
	z-index: 3;
	top: -53%;
	left: 1%;
	right: auto;
	width: 94.5%;	
	height: 18%;
	background-color:rgba(255,255,255,0.54);
	border: double 12px #FFCB33; 
	padding: 10px 10px 10px 10px;
	color: black;
	}
.home_button{
	position: relative;
	width: 5%;
	margin-left: 2%;
	margin-top: 2%;
	height: auto;
	float: left;
	}
.next_button{
	position: relative;
	width: 5%;
	height: auto;
	float: right;
	margin-top: 30%;
	margin-right: 8%;
	}

.choice_1{
	position: relative;
	left: 6%;
	right: 6%;
	top: -45%;
	z-index: 4;
	width: 86%;
	height: 3%;
	background-color: rgba(255,255,255,0.54);
	border: double 10px #FFA223;
	border-radius: 20px/20px;
	color: black;
	padding: 1%;
	text-align: center;
	}
.choice_2{
	position: relative;
	left: 6%;
	right: 6%;
	bottom: -5%;
	margin-top: 5%;
	z-index: 4;
	width: 86%;
	height: 3%;
	background-color: rgba(255,255,255,0.54);
	border: double 10px #FFA223;
	border-radius: 20px/20px;
	color: black;
	padding: 1%;
	text-align: center;
	}
.door_button_1{
	position: relative;
	z-index: 3;
	width: 10%;
	height: 23%;
	left: 45%;
	right: auto;
	top: -30%;
	}
.butler{
	position: relative;
	z-index: 4;
	width: 8%;
	height: 28%;
	left: 82%;
	right: auto;
	bottom: 52%;
	}
.move_right{
	position: relative;
	z-index: 4;
	top: -30%;
	right: 6%;
	float: right;
	width: 12%;
	height: 14%;
	}
.move_left{
	position: relative;
	z-index: 4;
	top: -30%;
	left: 6%;
	float: left;
	width: 12%;
	height: 14%;	
	}
.move_upper{
	position: relative;
	z-index: 4;
	top: -105%;
	left: 44%;
	right: 44%;
	width: 12%;
	height: 15%;
	}