@charset "utf-8";
/* CSS Document */

body{
	background-color: #350D50;
	width: 1920px;
	height: 1080px;
	}	
#center{
    width: 70%;
    height: 70%;
    background-color:#9245FF;
	float: left;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10px;
    text-align: center;
	}
#title{
	margin-top: 5%;
	}
#detail{
	margin-left: 80%;
	margin-top: 3%;
	}
#start_button{
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	height: auto;
	}
.table{
	width: 100%; 
	height: 30%; 
	background-color: #520099;
	color: aliceblue;
	}
.content{
	position: relative;
	z-index: 1; 
	width: 70%;
	height: 70%;
	background-color:#000000;
	margin-left: 15%;
	margin-right: 15%;
	}
.home_button{
	position: relative;
	width: 5%;
	margin-left: 2%;
	margin-top: 2%;
	height: auto;
	float: left;
	}
.next_button{
	position: relative;
	width: 5%;
	height: auto;
	float: right;
	margin-top: 20%;
	margin-right: 3%;
	}
.text_box{
	position: relative;
	z-index: 2;
	top: 75%;
	left: 1%;
	right: auto;
	width: 94.5%;	
	height: 15%;
	background-color:rgba(255,255,255,0.54);
	border: double 12px #FFCB33; 
	padding: 10px 10px 10px 10px;
	color: black;
	}

.move_right{
	position: absolute;
	top: -150px;
	right: 15%;
	float: right;
	width: 8%;
	height: auto;
}
.move_left{
	position: absolute;
	top: -150px;
	left: 18%;
	float: left;
	width: 8%;
	height: auto;	
}
.move_upper{
	position: absolute;
	top: 20px;
	left: 46%;
	right: auto;
	width: 8%;
	height: auto;
	float: none;
}